<!doctype html>
<HTML>
<HEAD>
<body bgcolor="#849ab8">
<title> Dhaka Bus Route </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</HEAD>
<BODY>

  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="dhakabusroute.herokuapp.com/"> <font color="green"  >Dhaka Bus Route</font></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="dhakabusroute.herokuapp.com/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <hr>


   <br>
   <table width="400" border="0" cellspacing="1" cellpadding="" bgcolor="#7ac476" align="center">
 <TR ALIGN="left" VALIGN="middle">

</TABLE>
<BR>
  <table width="400" border="0" cellspacing="1" cellpadding="" bgcolor="#ffffff" align="center">
<tr>
<td>
  <table width="400" border="0" cellspacing="1" cellpadding="" bgcolor="#7ac476" align="center">
    <tr>
    <td colspan="4" bgcolor="#ffffff" align="center">
      <font face="Verdana, Arial, Helvetica, sans-serif" size="4">
        <a href="dhakabusroute.herokuapp.com/map/"<button type="button" class="btn btn-outline-success">Want to See map of Dhaka?</button></a>
    </td>
    </tr>

    <Tr>
     </Tr>
   </tr>
   <h5 align =  "center"> Stopage List of   </h5>
   <h4><font color="green"  ><center> {{ bus_name }} </center></font></h4>
   <br>
     {% block content %}

     {% for key,value in context.items %}
            <ul>
              <li><center> {{value}} </center> </li>
            </ul>
            <hr>
     {% endfor %}

     {% endblock %}
<BR>
</body>
</HTML>
