{% extends 'nav.html' %}
{% load static %}

{% block content %}

<head>
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
  <!-- Third party plugin CSS-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">

</head>
<hr>

<section id="portfolio">
  <div class="container-fluid p-0">
      <div class="row no-gutters">
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="/bus/"
                  ><img class="img-fluid" src="https://images.pexels.com/photos/385998/pexels-photo-385998.jpeg" alt="" />
                  <div class="portfolio-box-caption">
                      <div class="project-category text-white-50">You can Search buses by locatoin</div>
                      <div class="project-name">Search By Location</div>
                  </div></a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="/map/"
                  ><img class="img-fluid" src="https://images.adsttc.com/media/images/5ad5/d9b5/f197/cc5c/9600/0e32/newsletter/iss050e012261_0.jpg?1523964329" alt="" />
                  <div class="portfolio-box-caption">
                      <div class="project-category text-white-50">Search in Map by Start & End location</div>
                      <div class="project-name">Find Route From Map</div>
                  </div></a
              >
          </div>
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="/login/"
                  ><img class="img-fluid" src="https://www.w3schools.com/howto/img_forest.jpg" alt="" />
                  <div class="portfolio-box-caption">
                      <div class="project-category text-white-50">Category</div>
                      <div class="project-name">Login To The Site</div>
                  </div></a
              >
          </div>
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="/khairul/"
                  ><img class="img-fluid" src="https://www.w3schools.com/howto/img_forest.jpg" alt="" />
                  <div class="portfolio-box-caption">
                      <div class="project-category text-white-50">Category</div>
                      <div class="project-name">Admin</div>
                  </div></a
              >
          </div>
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="#"
                  ><img class="img-fluid" src="https://www.w3schools.com/howto/img_forest.jpg" alt="" />
                  <div class="portfolio-box-caption">
                      <div class="project-category text-white-50">Category</div>
                      <div class="project-name">Project Name</div>
                  </div></a
              >
          </div>
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="#"
                  ><img class="img-fluid" src="https://www.w3schools.com/howto/img_forest.jpg" alt="Khairul islam" />
                  <div class="portfolio-box-caption p-3">
                      <div class="project-category text-white-50">Category</div>
                      <div class="project-name">Project Name</div>
                  </div></a
              >
          </div>
      </div>
  </div>
</section>
{% endblock %}

</html>
