{% extends 'nav.html' %}
<hr>

<BODY>
{% block content %}
<div class="row">
  <div class="col-sm-6" >
    <div class="card" <a href="#"> </a>>
      <div class="card-body">
        <img src="https://media-eng.dhakatribune.com/uploads/2019/03/web-circular-bus-dt-6-1553688965755.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Search by places</h5>
        <p class="card-text">Here you can search bus by places.</p>
        <a href="/bus" class="btn btn-primary">Click here</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQawoMUs4xK0vSQXpCwXpIis53kCef4zgEiJp8v2CttkfM1CuAq&usqp=CAU" class="card-img-top" alt="...">
        <h5 class="card-title">Want to see map of Dhaka?</h5>
        <a href="/map/" class="btn btn-primary">Click here</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

</body>
</html>
