
<!doctype html>
<HTML>
<HEAD>
<body bgcolor="#849ab8">
  <title> Dhaka Bus Route  </title>
  <link rel="stylesheet" type="text/css" href="style.css">

</HEAD>

<div class="navbar" >
  <a href="http://localhost:8000/" style="box-shadow:inset 0px 1px 0px 0px #bee2f9;background:linear-gradient(to bottom, #63b8ee 5%, #186cba 100%);background-color:#63b8ee;border-radius:6px;border:1px solid #3866a3;display:inline-block;cursor:pointer;color:#14396a;font-family:Arial;font-size:15px;font-weight:bold;padding:6px 24px;text-decoration:none;text-shadow:0px 1px 0px #7cacde;">Home</a>
  <a href="login" style="box-shadow:inset 0px 1px 0px 0px #bee2f9;background:linear-gradient(to bottom, #63b8ee 5%, #186cba 100%);background-color:#63b8ee;border-radius:6px;border:1px solid #3866a3;display:inline-block;cursor:pointer;color:#14396a;font-family:Arial;font-size:15px;font-weight:bold;padding:6px 24px;text-decoration:none;text-shadow:0px 1px 0px #7cacde;">Login</a>
</div>

<BODY>
<BR>
<TABLE ALIGN="center" BORDER=0 CELLSPACING=0 CELLPADDING=0 >
 <TR ALIGN="left" VALIGN="middle">

</TABLE>
<BR>
<table width="400" border="0" cellspacing="0" cellpadding="1" bgcolor="#BDD3EF" align="center">
<tr>
<td>
<table width="100%" border="0" cellspacing="0" cellpadding="9" bgcolor="#BDD3EF">
    <tr>
    <td colspan="4" bgcolor="#BDD3EF" align="center">
        <b>                <h1> Thank you for Sign in</h1>    </b><hr><br>
        <a href="http://localhost:8000/" style="box-shadow:inset 0px 1px 0px 0px #bee2f9;background:linear-gradient(to bottom, #63b8ee 5%, #186cba 100%);background-color:#63b8ee;border-radius:6px;border:1px solid #3866a3;display:inline-block;cursor:pointer;color:#14396a;font-family:Arial;font-size:15px;font-weight:bold;padding:6px 24px;text-decoration:none;text-shadow:0px 1px 0px #7cacde;">Click Here </a><h2>To go to Home Page</h2>
      <br>

      <br>
    </td>
    </tr>

</body>
</html>
