<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />

</head>
<body>
    <h1>Map</h1>

    <div id='map' style='width: 400px; height: 300px;'></div>
        <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoid2hvaXNraGFpcnVsIiwiYSI6ImNrOHgxOGFhbTB0NDQzZ282eGw4bnczZHMifQ.YxAa3xH6abRfF60Z5bKm-w';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [90.40, 23.80],
            zoom : 9
        });
        </script>


</body>
</html>